/* Stylesheet for FysioApp
*
* Author: Vincent van Dijck
* Version: 0.5
*
* All rights reserved.
*/


/* General styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    overflow:hidden;
    font-size: 1em;
    background-image: url('achtergrond.jpg');
    background-repeat:repeat-y;
    z-index: 999;
    font-family: 'Oxygen', sans-serif;
}

section {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'museo500', sans-serif, Arial;
    font-size: 1em;
}

.title-bar {
    padding: 0.8em 0;
    position: absolute;
    width: 100%;
    background-color: #0B4370;
    color: white;
    text-align: center;
}

.title-bar h1 {
    margin: 0 0 0.2em 0;
}

.title-bar h2 {
    margin: 0.4em 0 0 0;
    font-family: 'museo300', sans-serif, Arial;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.72);
}

.title-bar a {
    position: absolute;
    margin-top: 0.5em;
    margin-bottom: 1px;
    left: 10px;
    color: white;
    text-decoration: none;
    font-family: 'museo700', sans-serif, Arial;
    font-size: 1.1em;

}

.title-bar img {
    height: 15px;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
}

/* index.html */
#pop {
    background-image: none;
}

#pop-image {
    float: left;
}

#categories,
#categories a {
    position: absolute;
}

#categories a {
    padding: 10px;
    border: 1px solid #5E5E5E;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    font-family: 'museo500', sans-serif, Arial;
    text-decoration: none;
    text-align: center;
    color: #424242;
}

#categories a:active {
    box-shadow: 0 0 15px #ffffff;
}

#categories a:nth-of-type(1) {
    width: 77px;
    height: 18px;
    top: 132px;
    left: 50px;
}

#categories a:nth-of-type(2) {
    width: 50px;
    height: 18px;
    top: 190px;
    left: 220px;
}

#categories a:nth-of-type(3) {
    width: 48px;
    height: 19px;
    top: 368px;
    left: 90px;
}

#categories a:nth-of-type(4) {
    width: 47px;
    height: 19px;
    top: 420px;
    left: 173px;
}

#categories a:nth-of-type(5) {
    width: 48px;
    height: 19px;
    top: 470px;
    left: 93px;
}

/* exercises.html */
#list {
    margin-top: 65px;
    display: inline-block;
    width: 100%;
}

.list-row {
    display: inline;
    float: left;
    clear: left;
    width: 100%;
}

.list-item {
    float: left;
    width: 158px;
    height: 158px;
}

.list-item a {
    display: block;
    width: 140px;
    height: 140px;
    margin: 9px auto 0 auto;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.42);
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #ffffff;
    text-align: center;
    text-decoration: none;
}

.list-item a:active {
    box-shadow: 0 0 15px #ffffff;
    background-color: rgba(255, 255, 255, 0.72);
}

.list-item a img {
    width: 50%;
    margin-top: 20px;
}

.list-item a p {
    font-family: museo500, sans-serif, Arial;
    margin: 0;
    padding: 0;
}

/* exercise-detail.html */
#details {
    margin-top: 75px;
    color: #ffffff;
}

#details section h3 {
    margin: 0.6em 0;
    font-family: museo500, sans-serif, Arial;
    font-size: 20px;
}

#details section p {
    margin: 1em 0;
}

#details section:nth-of-type(1) {
    width: 93.3%;
    height: 166px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

#details section:nth-of-type(2) {
    width: 272px;
    padding: 0 4%;
    text-align: center;
}

#details section:nth-of-type(2) ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#details section:nth-of-type(2) {
    border: 1px solid rgba(255, 255, 255, 1);
    margin: 2% 3% 2% 3%;
}

#details section:nth-of-type(3) {
    clear: both;
    width: 78%;
    margin: 8em auto 0 auto;
}

#details section:nth-of-type(3) a {
    color: rgb(255, 255, 255);
    background-color: rgba(78, 207, 37, 0.86);
    box-shadow: 2px 3px 0 rgba(9, 112, 0, 1);
    border-radius: 30px;
    font-size: 20px;
    font-family: 'museo700', sans-serif, Arial;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6em;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#details section:nth-of-type(3) a:active {
    background-color: rgba(255, 169, 60, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

#details section:nth-of-type(3) a img {
    height: 18px;
    margin-bottom: -3px;
    margin-left: 6px;
}

/* during-exercise.html */
.buttons {
    margin-top: 100px;
}

/* instruction text*/
.btn_start p,
.btn_stop p {
    text-align: center;
    color: #fff;
    float: left;
    width: 100%;
}

.btn_start p {
    margin-top: 60px;
}

.btn_stop p {
    margin-top: 30px;
}

/* start button */
.btn_start {
    width: 150px;
    height: 150px;
    background: #59AE9F;
    background: linear-gradient(top,  #59AE9F,  #30CF5A);
    background: -ms-linear-gradient(top,  #59AE9F,  #30CF5A);
    background: -webkit-gradient(linear, left top, left bottom, from(#59AE9F), to(#30CF5A));
    background: -moz-linear-gradient(top,  #59AE9F,  #30CF5A);
    box-shadow: inset 0 -1px 9px #000000;
    margin: 0 auto;
    border-radius: 100%;
}

.btn_start h2 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    margin-top: 60px;
    float: left;
    width: 100%;
}

/* stop button */
.btn_stop {
    display: none;
    width: 150px;
    height: 150px;
    background: #E52720;
    background: linear-gradient(top,  #E52720,  #DE6662);
    background: -ms-linear-gradient(top,  #E52720,  #DE6662);
    background: -webkit-gradient(linear, left top, left bottom, from(#E52720), to(#DE6662));
    background: -moz-linear-gradient(top,  #E52720,  #DE6662);
    box-shadow: inset 0 -1px 9px #000000;
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
}

.btn_stop img {
    margin-top: 4em;
}

#btn_record_stop h2 {
    font-size: 26px;
    margin-top: 45px;
}
.btn_stop h2 {
    text-align: center;
    color: #fff;
    font-size: 26px;
    margin-top: 60px;
    float: left;
    width: 100%;
}

/* Fonts used */
@font-face {
    font-family: 'museo300';
    src: url('fonts/museo-300-webfont.eot');
    src: url('fonts/museo-300-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museo-300-webfont.woff') format('woff'), url('fonts/museo-300-webfont.ttf') format('truetype'), url('fonts/museo-300-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url('fonts/museo-500-webfont.eot');
    src: url('fonts/museo-500-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museo-500-webfont.woff') format('woff'), url('fonts/museo-500-webfont.ttf') format('truetype'), url('fonts/museo-500-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('fonts/museo-700-webfont.eot');
    src: url('fonts/museo-700-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/museo-700-webfont.woff') format('woff'), url('fonts/museo-700-webfont.ttf') format('truetype'), url('fonts/museo-700-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}