body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}


/*.btn_start {*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background: #59ae9f;*/
    /*margin: 0 auto;*/
    /*margin-top: 100px;*/
    /*border-radius: 100px;*/
/*}*/

/*.btn_start h1 {*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size: 30px;*/
    /*margin-top: 80px;*/
    /*float: left;*/
    /*width: 100%;*/
/*}*/

/*.btn_stop {*/
    /*display: none;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background: red;*/
    /*margin: 0 auto;*/
    /*margin-top: 100px;*/
    /*border-radius: 100px;*/
/*}*/

/*.btn_stop h1 {*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*font-size: 30px;*/
    /*margin-top: 80px;*/
    /*float: left;*/
    /*width: 100%;*/
/*}*/






