html, body{	background: #fff; margin:0px auto;	padding:0px;   background-size: 100%  100%; overflow-x:hidden; font-size: medium; font-family: 'museo500'; outline: none;  }
img {border: none; padding: 0px; margin: 0px;}

/* Homeage header top*/
h1{ font-style: normal; font-weight: 300; color: #484848; font-size: 22px;    padding: 0px; margin: 0px; font-family: 'museo500'; } 
h2{ font-weight: normal; font-weight: 300; color: #484848; font-size: 22px;    padding: 0px; margin: 0px;}
p{ font-size: 16px;  text-decoration: none; color: #213f54; line-height: 26px; padding: 0px; margin: 0px; font-family: 'museo500';}
a{ font-size: 16px; text-decoration: none; color: #fff; font-family: 'museo300';}
a:visited{ font-size: 16px; text-decoration: none; color: #fff; font-family: 'museo300';}
a:hover{ text-decoration: underline;}
b{ font-weight: 500; font-style: normal;   font-family: 'museo700'; color: #813ea7; } 
ul{ margin: 0px; padding: 0px;}
li{ padding: 0px; margin: 0px;}
li{ color: #484848; line-height: 26px;}
button, input{ font-size: medium;}

@font-face {
    font-family: 'museo300';
    src: url('fonts/museo-300-webfont.eot'); 
    src: url('fonts/museo-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-300-webfont.woff') format('woff'),
         url('fonts/museo-300-webfont.ttf') format('truetype'),
         url('fonts/museo-300-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'museo500'; 
    src: url('fonts/museo-500-webfont.eot');
    src: url('fonts/museo-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-500-webfont.woff') format('woff'),
         url('fonts/museo-500-webfont.ttf') format('truetype'),
         url('fonts/museo-500-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'museo700';
    src: url('fonts/museo-700-webfont.eot');
    src: url('fonts/museo-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-700-webfont.woff') format('woff'),
         url('fonts/museo-700-webfont.ttf') format('truetype'),
         url('fonts/museo-700-webfont.svg#museo700') format('svg');
    font-weight: normal; 
    font-style: normal;  

}       

.pages{ display: none; } 

#page1 #bgcontainer_menu{  width: 100%; float: left;  background: #095a4c; } 
#page1 #container_menu{ width: 100%;height: 70px;  float: left;  }  
#page1 #container_menu h1{  color: #fff; padding-left: 20px; padding-top: 20px; text-align: left; text-align: center;}
#page1 #container_feedback{  width: 100%; padding: 20px 0px;  float: left;  background: #55d6bf; } 
#page1 #container_feedback p{ padding-left: 20px; color: #095a4c; text-align: center;}
#page1 #container_feedback a{ width: 30%; display: block; float: left; padding: 10px 5px;  border-radius: 5px; color: #fff; margin-right: 10px; text-align: center;}
#page1 #container_feedback a:nth-child(1){ margin-left: 20px; } 

#bgcontainer_oefeningen{ width: 100%;  float: left; margin-top: 0px; }
#bgcontainer_oefeningen .container_item{ width: 100%;  background: #fff  url('images/icon_arrow_right.png') no-repeat 90% center; border-bottom: 1px solid #ededed; float: left;}
#bgcontainer_oefeningen img{ height: 100px;   padding: 10px 20px 20px 10px; float: left; }  
#bgcontainer_oefeningen h1{ margin-top: 55px; font-size: 16px; } 

#page2 #bgcontainer_menu{  width: 100%; float: left; background: #095a4c url('images/icon_arrow_left.png') no-repeat 20px 20px; } 
#page2 #container_menu{ width: 100%;height: 70px;  float: left;  }  
#page2 #container_menu h1{  color: #fff; padding-left: 20px; padding-top: 20px; text-align: left; text-align: center; }
#bgcontainer_oefening{ width: 100%;  float: left; margin-top: 0px; }
#page2 #container_grafiek{  width: 100%; padding: 0px 0px;  float: left;  background: #55d6bf; } 
#page2 #container_grafiek img{ width: 100%;}
#bgcontainer_oefening .container_item{ width: 100%;  background: #fff  url('images/icon_arrow_right.png') no-repeat 90% center; border-bottom: 1px solid #ededed; float: left;}
#bgcontainer_oefening .container_item h1{padding: 20px 20px;font-size: 16px; } 

#bgcontainer_oefening .container_item2{ width: 100%;  background: #fff; border-bottom: 1px solid #ededed; float: left;}
#bgcontainer_oefening .container_item2 .links h1{padding: 20px 20px 10px 20px;font-size: 24px; } 
#bgcontainer_oefening .container_item2 .links p{padding: 0px 0px 30px 20px; font-size: 14px; } 
#bgcontainer_oefening .container_item2 .links{ width: 50%; float: left;}
#bgcontainer_oefening .container_item2 .rechts{ width: 50%; float: left;}
#bgcontainer_oefening .container_item2 .rechts h1{padding: 30px 10% 10px 20px;font-size: 30px; text-align: right; color: #55d6bf; } 

#page3 #bgcontainer_menu{  width: 100%; float: left; background: #095a4c url('images/icon_arrow_left.png') no-repeat 20px 20px; } 
#page3 #container_menu{ width: 100%;height: 70px;  float: left;  }  
#page3 #container_menu h1{  color: #fff; padding-left: 20px; padding-top: 20px; text-align: left; text-align: center; }
#bgcontainer_oefening{ width: 100%;  float: left; margin-top: 0px; }
#page3 #bgcontainer_oefening .container_item2{ border: 0px;} 
.btn_start{ width: 200px; height: 200px;  background: #59ae9f; margin: 0 auto; margin-top: 100px; border-radius: 100px;}
.btn_start h1{ text-align: center; color: #fff; font-size: 30px; margin-top: 80px; float: left; width: 100%;}  
.btn_stop{ display: none; width: 200px; height: 200px;  background: red; margin: 0 auto; margin-top: 100px; border-radius: 100px;}
.btn_stop h1{ text-align: center; color: #fff; font-size: 30px; margin-top: 80px; float: left; width: 100%;}  






